body {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-weight: 400;
	/* reset the base size font and work up from there */
	font-size: 16px;
}

/* define a grid... in the real world use a framework Tachyons, bootstrap, foundation */

.grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 10px;
}

.container {
	margin: 35px auto;
	max-width: 1200px;
}

.group-list {
	border: 2px solid red;
}

.profile {
	display: flex;
	align-items: center;
	margin: 0 0 25px;
}

.profile img {
	width: 35px;
	border-radius: 50%;
	display: inline-block;
	padding-right: 10px;
}
